.page {
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-inline-size: 320px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  min-block-size: 100dvb;
  font-family: var(--font-primary), sans-serif;
}

.page > * {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' 400;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
     block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  margin-block: var(--margin-block-header);
  background-color: var(--bg-color);
  border: solid 2px var(--color-border);
}

.header__title {
  font-family: var(--font-accent), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__subtitle {
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border: solid 2px var(--color-border);
  margin-bottom: 50px;
}

.card__title {
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  line-height: 21.78px;
  margin-inline: 10px;
  margin-block: 5px 4px;
}

/*хидден для будущей анимации*/
.card__picture-container {
  overflow: hidden;
  position: relative;
}

.card__img {
  object-fit: cover;
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  width: 100%;
  aspect-ratio: 1/1;
}

.card__abs-text {
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-shadow:
          -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px  1px 0 #fff,
          1px  1px 0 #fff;
  opacity: 50%;
  mix-blend-mode: hard-light;
  z-index: 2;
}

.card__text-container {
  margin: 21px 25px 25px 25px;
}

.practice {
  text-transform: uppercase;
  color: gold;
  text-shadow: 2px 2px 0 var(--color-heart-svg);
}

.card__text {
  margin-block-end: 27px;
}

.card__like-container {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-icon {
  padding-top: 2px;
  width: 39px;
  height: 36px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-top: 4px;
  background-color: var(--bg-color);
  border: solid 2px var(--color-border);
}

.button__text {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-wrap: nowrap;
}

.container__button-save {
  display: flex;
  gap:8px;
  margin-bottom: 102px;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  block-size: clamp(55px, calc(84px + (100vw - 375px) * -29 / 1065), 84px);
  inline-size: clamp(19.3125rem, 18.6963rem + 2.6291vw, 21.0625rem);
  background-color: var(--bg-color);
  border: solid 2px var(--color-border);
}

.container__button-save .floppy-icon {
  width: clamp(21px, calc(28px + (21 - 28) * ((100vw - 375px) / (1440 - 375))), 28px);
}

.modal-save[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

body:has(.modal-save[open]) {
  overflow: hidden;
}

.container__button-save-close {
  inline-size: 257px;
  block-size: 38px;
  margin: 0;
}

.modal-save[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  inline-size: 341px;
  padding: 28px 34px;
}

.modal-content {
  display: flex;
  gap: 20px;
}

.push-floppy, .close-modal {
  text-transform: uppercase;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
}

.modal-content .floppy-icon {
  width: 39px;
  aspect-ratio: 1/1;
}

/*не поняла про анимацию тени как В ШАПКЕ, поэтому сделала похожую из видео*/
.container__button-save:focus,
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  transition: box-shadow 0.5s ease;
}

.container__button-save,
.card__like-button {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: white;
}

.container__button-save::before,
.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index:0;
}

.container__button-save:hover::before,
.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text, .close-modal {
  mix-blend-mode: difference;
  color: white;
}

.floppy-icon {
  fill: white;
  color: white;
  mix-blend-mode: difference;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}

.heart:focus {
  outline: none;
}

.heart:focus-visible {
  outline: none;
  /*box-shadow: 1px 1px 0 0 rgb(0, 0, 0),*/
  /*            -1px -1px  0 0  rgb(0, 0, 0);*/
}


.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: opacity 0.3s ease-in 0.3s;
  animation-iteration-count: 1;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
  animation-iteration-count: 1;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  transition: fill 0.3s linear;
  fill: var(--color-contour-svg);
}

.card__icon-button:active .core {
  fill: var(--color-heart-svg);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--color-contour-svg);
  transition: fill 0.3s linear;
}
.card__icon-button:active .main-body {
  fill: var(--color-heart-svg);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill:var(--color-heart-svg);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .sparks,
.like-icon.is-liked .main-body {
  fill: var(--color-heart-svg);
}

.cold-mood {
  filter: contrast(90%) brightness(90%) hue-rotate(200deg);
}

.warm-mood {
  filter: sepia(30%) hue-rotate(-30deg) brightness(80%);
}

.blur-mood {
  filter: blur(1px);
}

.gold-hour {
  animation: pulse 5s infinite ease-in-out;
}

.contrast-mood {
  filter: contrast(100%);
}

.gold-hour {
  filter: sepia(20%) hue-rotate(-20deg) brightness(120%) saturate(150%);
}

.fog-morning {
  filter: blur(1px) brightness(150%) contrast(90%);
}

.grape-mood {
  filter: saturate(2) brightness(120%) contrast(90%) hue-rotate(10deg);
}

@media screen and (width <= 375px) {
  .container__button-save {
    flex-direction: column;
  }
  .floppy-icon {
    width: 28px;
  }
}

/*@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {*/
/*  .card__abs-text {*/
/*    -webkit-text-stroke: 1px var(--bg-color);*/
/*    text-stroke: 1px var(--bg-color);*/
/*    text-shadow: none;*/
/*  }*/
/*}*/





