/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  min-block-size: 100dvb;
  font-family: var(--font-primary), sans-serif;
}

.page > * {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' 400;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
     block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  margin-block: var(--margin-block-header);
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(0, 0, 0);
}

.header__title {
  font-family: var(--font-accent), monospace;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__subtitle {
  font-family: var(--font-accent), monospace;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(0, 0, 0);
  margin-bottom: 50px;
}

.card__title {
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  line-height: 21.78px;
  margin-inline: 10px;
  margin-block: 5px 4px;
}

.card__picture-container {
  position: relative;
  aspect-ratio: 1/1;
}

.card__img {
  object-fit: cover;
  width: 100%;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.card__abs-text {
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--font-accent), monospace;
  font-size: 14px;
  text-shadow:
          -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px  1px 0 #fff,
          1px  1px 0 #fff;
  opacity: 50%;
}

.card__text-container {
  margin: 21px 25px 25px 25px;
}

.card__text {
  margin-block-end: 27px;

}

.card__like-container {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-top: 4px;
  background-color: rgb(255 255 255);
  border: solid 2px rgb(0, 0, 0);
}

.button__text {
  font-family: var(--font-accent), monospace;
  font-size: 14px;
  text-wrap: nowrap;
}

.container__button-save {
  display: flex;
  flex-direction: column;
  gap:8px;
  margin-bottom: 102px ;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  block-size: clamp(55px, calc(84px + (100vw - 375px) * -29 / 1065), 84px);
  inline-size: clamp(19.3125rem, 18.6963rem + 2.6291vw, 21.0625rem);
  background-color: rgb(255 255 255);
  border: solid 2px rgb(0, 0, 0);
}

.floppy-icon {
  width: 28px;
}

.modal-save[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

body:has(.modal-save[open]) {
  overflow: hidden;
}

.modal-save {
  display: none;
}

.container__button-save-close {
  inline-size: 257px;
  block-size: 38px;
  margin: 0;
}

.modal-save[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  block-size: 191px;
  inline-size: 341px;
}

.modal-content {
  display: flex;
  gap: 20px;
}
.push-floppy, .close-modal {
  text-transform: uppercase;
  font-family: var(--font-accent),monospace;
  font-size: 14px;
  height: auto;
}

.modal-content .floppy-icon {
  width: 39px;
  aspect-ratio: 1/1;
}

/*не поняла про анимацию тени как В ШАПКЕ, поэтому сделала похожую из видео*/
.container__button-save:focus,
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  transition: box-shadow 0.5s ease;
}

.container__button-save,
.card__like-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  color: white;

}

.container__button-save::before,
.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index:0;

}

.container__button-save:hover::before {
  transform: scaleX(1);


}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text, .close-modal {
  mix-blend-mode: difference;
  color: white;
  /*mix-blend-mode: difference   колорблендом ;*/
}

.floppy-icon {
  fill: white;
  color: white;
  mix-blend-mode: difference;
  box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Начальное состояние: прозрачная тень */
  transition: box-shadow 0.3s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}


.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease;
}

.card__icon-button:hover .core {
  transition: fill 0.3s ease 0.03s;
  fill: var(--color-contour-svg);
}

.card__icon-button:active .core {
  fill: var(--color-heart-svg);
  transition: fill 0.3s ease 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:hover .main-body {
  fill: var(--color-contour-svg);
  transition: fill 0.3s ease;
}
.card__icon-button:active .main-body {
  fill: var(--color-heart-svg);
  transition: fill 0.3s ease 0.03s;
}

.like-icon.is-liked .contour {
  fill:var(--color-heart-svg);
  transition: fill 0.3s ease 0.06s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .sparks,
.like-icon.is-liked .main-body{
  fill: var(--color-heart-svg);
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: opacity 0.3s ease-in 0.3s;
  animation-iteration-count: 1;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
  animation-iteration-count: 1;
}



/*написать меди запросы для дискеты 1440
  медиа меньше 375
  фильтры
  поправить сердечко лайк
  эффекты
  размеры картинок*/






