/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/*Настройте вес вариативного шрифта. Удобно вынести в переменные толщину основного текста карточки и толщину заголовка карточки.*/
:root {
    --font-primary: 'Inter-Variable';
    --font-accent: 'PressStart2P';
    --margin-block-header: 100px;
    --background-gradient:
            repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
            linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}
